# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Build output
dist/
build/

# Logs
logs/
*.log

# Environment
.env
.env.*

# IDE
.idea/
*.sublime-workspace
*.sublime-project

# Others
*.swp
*.tmp
.sass-cache/
# End of default list
